@import '../../variables';

#mail-templates{
    @include lg(){
        padding: 50px;
    }

    .mail-template{
        width: 90%;

        @include lg(){
            width: 50%;
        }

        .body{
            background-color: #EEEEFA;
            border-radius: 5px;
            padding: 40px;
        }
    }

    .pagination{
        margin: 30px 0px;
    }
}